[2014-07-26 18:10] aronmagyari opened #1 "Command line tool - Create New App"
I would like to be able to create a new app by entering "$ diet app_name" in terminal

[2014-07-29 22:36] #1 closed, assigned to nobody

[2014-12-16 21:42] adamhalasz opened #2 "Bug with the host controller"
It seems there is a bug with the host controller. I think the problem comes when the request method is not GET or POST. Search engines sometimes use different http methods.

[2014-12-16 23:48] #2 closed, assigned to nobody

[2014-12-20 19:23] adamhalasz opened #3 "Can't create https server on a differerent port other than 80"

[2014-12-21 00:50] #3 closed, assigned to nobody

[2015-01-20 10:10] Ahmad-Ibrahim opened #4 "HTTP methods"
Supporting other HTTP methods like PUT, DELETE and PATCH

[2015-01-23 20:05] RedactedProfile commented on #4
I'm actually a little shocked this isn't initially supported.. hmm..

[2015-01-29 19:31] Ahmad-Ibrahim commented on #4
Is this project dead? is it still maintained? no answer for a whole 9 days!!

[2015-01-29 19:50] adamhalasz commented on #4
Sorry for the late answer. I'm working on it!

[2015-01-30 00:52] adamhalasz commented on #4
I didn't implement all http methods before because I didn't really needed them :) I updated the github repo with `v0.9.2` which has support for `options`, `patch`, `put`, `trace` and `delete` methods. I'll update the npm repo and the documentation soon as well.

[2015-02-02 17:54] #4 closed

[2015-04-26 16:46] Ahmad-Ibrahim opened #7 "What is the future of this?"
I really like this framework and want to use it for production after using it in some internal projects, is this gonna be maintained or it is just a hobby project?

[2015-04-26 22:24] adamhalasz commented on #7
Hi Ahmad,

I'm happy to hear that! Yes I'm going to maintain it and I'm also here to help if you have a specific question.

Cheers,
Adam

[2015-04-27 12:08] Ahmad-Ibrahim commented on #7
I have no issues to be honest, great job man.. maybe I will ask for some new features later like routes grouping

[2015-04-27 14:06] RedactedProfile commented on #7
Just remember @ahmed-ibrahim that Diet is intended to be as lean as possible, I would argue that the only thing this project should worry about is fixing any existing issues, improving performance further where possible, and keeping the framework up to standards with releases of node and io

[2015-05-08 03:24] #7 closed

[2015-05-16 07:17] mdtusz opened #8 "JSON bodies"
I can't seem to accept a properly parsed JSON body in a POST request:

Sending a request with  `Content-Type: application/json` in the header and
[code]

I would expect to be able to access this through `$.body.hello` but it seems to be parsed incorrectly with output like this:

`{ '\'hello\': \'world\'': 'undefined' }`

Is this something that will require middleware?

[2015-05-16 09:47] adamhalasz commented on #8
Hi,

That is weird. It should work without a middleware.

Are you encoding the json on client side?

Could you send me an example request, including the client code that initiates the request and the actual headers it generates?

Thanks,
Adam

P.S Setting the Content-Type to application/json will not affect the parsing.

[2015-05-16 18:33] mdtusz commented on #8
Here's my code:

[code]

Then when I either run `curl http://localhost:3000/ -d '{"hello":"world"}'` or send the request using postman, the result is always ` {"{\"hello\":\"world\"}":"undefined"}% {"{\"hello\":\"world\"}":"undefined"}`.

The code runs fine when POSTing a standard url-encoded form body, but not with raw JSON.

[2015-05-17 17:21] adamhalasz commented on #8
Hi,

Problem solved in v0.9.3.

If the Content-Type is `Content-Type:application/json` then diet will interpret the request body as a JSON content *({"hello":"world"})* and it will try to parse it with `JSON.parse()`.

If the Content-Type is specified as `Content-Type:application/x-www-form-urlencoded` then the request body will be parsed as a URL Encoded String *(hello=world&day=1)* and it will b

[2015-05-17 17:54] mdtusz commented on #8
Thanks, works now!

[2015-05-17 17:54] #8 closed

[2015-06-25 09:51] lukehedger opened #9 "Diet + OpenShift"
Trying to get a simple Diet server running on OpenShift (free plan) but the server never starts (runs fine locally). The page itself (http://diet-levelout.rhcloud.com/) returns a 503 and the logs throw:

[code]

Here's the code:

[code]

The server runs with the default example and a simple Express :hear_no_evil: app but not the above.

Any ideas?

[2015-06-26 02:25] adamhalasz commented on #9
[code]

This error happens when you don't the operating system doesn't grant access for your app to handle a specific port or ip. The default IP used by diet is '0.0.0.0' which is a generic IP that allows diet to listen on multiple domains/addresses.

I'm trying to figure out a good solution that allows you to change the IP in the listen method while still allowing to listen on multiple domains wi

[2015-07-19 14:08] frank-dspeed commented on #9
I think my fix can help here to he can listen simply on 0.0.0.0 or a single port and can still get requests that arnt explicit have ip:port in request.headers.host

greetings.

[2015-07-19 14:10] frank-dspeed commented on #9
if he listens on a other ip and or host combo we can modify the fix to simply default the first hosts[1] entry

then it don't matters where he listens on it checks if it gets explicit routes for that host if not defaults to the first diet js listen app.

[2015-07-20 00:18] frank-dspeed opened #11 "PR: Decouple Listen host and app"
for people that whant to run a single instance with support for lets say 5000+ domains its usefull to de couple the app name and from listen

at present listen creats a new object for every domain

better would be to listen simply on a port and then do a array for domain.tld = appname

greetings

ps. it would only need smal modification of hosts.js and index.js so we add a option for the object/ar

[2015-07-30 17:41] frank-dspeed opened #12 "app.routes overwrite by listen"
if you call listen after a app route already is pushed it will set empty routes via server.js

so app.listen() clears all existing routes!

[2015-07-30 18:34] #12 closed

[2015-07-30 18:43] frank-dspeed opened #14 "PLZ: Release Current Version 1.0"
It would be nice if you find time to release this as version 1.0 also publish npm and also make a git tag for that version thx a lot for corperation.

[2015-07-30 18:57] adamhalasz commented on #14
Hi Frank,

Thanks a lot for your fixes. I'm really busy these days. I updated the NPM repository - the new version is v0.9.10

http://npmjs.com/package/diet

Thanks,
Adam

[2015-07-30 18:58] #14 closed

[2015-07-31 05:30] frank-dspeed commented on #11
Maybe saw it wrong current system works well with current object circular model but will investigate in real world testing.
no investigation at present needed.

[2015-07-31 12:30] frank-dspeed opened #15 "When you set .listen('http://bla.com') no port get added in hosts array"
To work probally all hosts need to be in the same formart so we need to attach port 80 to hosts that dont have :port as we do in the checks in hosts.js

[2015-07-31 18:18] lucianopf opened #16 "Couldn't listen to DietJs at Cloud9 service."
There's a problem that I can't listen to port 80 at c9 cloud service, so there's a proxy redirecting all my requests at port 80 and should be redirecting them to port 8080 which is the default port of c9.

For that reason I cant listen to dietjs framework at c9.io.

[2015-07-31 18:22] lucianopf commented on #16
I've posted this problem at gitter and Adamhalasz instantly helped me to solve this problem by getting into my virtual host and making a quick fix the problem.
So, I had backup up the solution and I created a repository so any of you guys can use the project as a start point if the goal is to host this project at c9.
Caution: This is only a quick fix and doesn't work properly with multi servers.

[2015-07-31 18:22] #16 closed

[2015-08-01 08:10] frank-dspeed opened #17 "New Test Cases Needed!"
Following looks none working.

Creating domains in  a other app that listen on same port as the app befor

so we need following test to pass befor any thing gets done

app1 = server();
app1 = listen(80)
app1 = routes header or else
app1 = listen('testhost.com')
app1 = listen('host2.tld:80')
app1.listen('http://host3.tld')

app2.listen(80)
app2.header()
app2.listen('http://bla.com:80')

app3.listen

[2015-08-01 08:35] frank-dspeed opened #18 "Parsing .listen values right"
first check if '://' exist if '://'
if exist we got protocoll else we suggest http and do url.parse the listen value

then we got a listen_url_obj.hostname
listen_url_obj.port if port is empty we suggest 80!

if we listen only on port we need to care for that case with extra thinking because it brakes the server host:port array

maybe its my first suggestion never listen on 80 directly and error!

[2015-08-01 13:42] frank-dspeed opened #20 "PR: Add Method for unregister routes and servers"
We should add 2 new Methods

One Removes Listen (http servers)

One Removes routes all kinds of head, foot, missing, get

This will enable us to Dynamicaly Register Domains and Routes for them

[2015-08-01 15:34] frank-dspeed opened #22 "Add socket io example to homepage"
// Diet Server
var server = require('diet')
var app = server()
app.listen(8000)

// Socket.io
var io = require('socket.io')(app.server) // <-- use app.server

// Listen on websocket connection
io.on('connection', function(socket){
  console.log('a user connected');
});

// Now you can access socket.io from client side with:
// http://localhost:8000/socket.io/socket.io.js

[2015-08-01 15:35] frank-dspeed opened #23 "Correct Homepage that now even .listen('domain.tld') works"
Correct Homepage that now even .listen('domain.tld') works

or Correct Homepage that now even .listen('domain.tld:222') works

[2015-08-01 15:43] #15 closed

[2015-08-01 16:46] adamhalasz commented on #17
Please let me know if the new diet@0.9.12 fixes these for you.

[2015-08-01 16:48] adamhalasz commented on #11
Let me know when you have an updated on this. I'm not sure what do you mean at the moment.

[2015-08-01 16:48] #11 closed

[2015-08-02 08:14] frank-dspeed commented on #11
Its about the fact that every domain attaches the function it runs i think when i have a applaction with lets say 30 routes and lets say 20 middlewares on 5000 domains then i would with the current structure get the complet 30 routes and 20 middlewares replicated over 5000 domain entrys did i see that wrong?

do you know what i mean?

and i tought it would be a better way to some how store applica

[2015-08-02 09:10] frank-dspeed commented on #17
ya this part works but your rewrite droped the functionalty for using .listen('localhost:999')

[2015-08-02 09:16] adamhalasz commented on #17
Oh you mean it should work without using http or https and it should default to http if the protocol it’s not provided. :) I’ll fix this as soon as I will have some time.

On Aug 2, 2015, at 11:10 AM, Frank Lemanschik <notifications@github.com> wrote:

[2015-08-02 09:43] frank-dspeed commented on #17
did it already

[2015-08-02 09:55] frank-dspeed commented on #18
closed by  pull #24 aka v0.9.13

[2015-08-02 09:55] #18 closed

[2015-08-02 09:55] frank-dspeed commented on #17
closed by  pull #24 aka v0.9.13

[2015-08-02 09:55] #17 closed

[2015-08-02 09:58] frank-dspeed commented on #9
can be closed i runned this even on open shift it was a user fail probably the fail was that he don't knowed that open shift don’t opens ports on the box they use a external load balancer that does the forwarding

[2015-08-02 10:03] frank-dspeed opened #25 "Update github releases and tags"
This Project falls behind consistent state if we don't update the tags and releases of this repository.  i would offer also my self to get added to this project as extra maintainer for faster reaction. as i use this code base in production.

Also a git repo for the framework homepage probally would be good the gh-pages branch don't looks like the current page this is also considered inconsistent.

[2015-08-04 18:40] adamhalasz commented on #25
Hey Frank,

I agree, but I'm just simply too busy at the moment. I only have a very few hours to spend weekly on diet.

There is actually a repository for the homepage:
https://github.com/adamhalasz/dietjs.com

I'm really glad you would like to help maintaing the project.

Thanks,
Adam

[2015-08-23 17:40] frank-dspeed opened #26 "Lets us only use console.log if no silent mode as also fix to show console.error"
I think we should add some debugging stuff there are some handy debugging infos we gain at present via console.log as also we get errors in the console.log thats not a good thing!!!!

we should change that console.log infos only get posted if not in silent mode as example we got in server a console.log for location none set right that should get console.error() so it gets logged in the right file

[2015-12-22 05:04] Nosthertus opened #27 "Add server properties in documentation"
i have seen in `diet-static` example that uses `path` to get the directory of the application.. but i don't see this kind of information in the documentation..

there should be a section that shows all the properties available in diet server

[2015-12-24 10:37] wlekin opened #28 "hi, how to compressing resources ( gzip ) with dietjs?"
*Actually this is not a issue.
Hi, dietjs is one of the best web framework of nodejs, and I have a web project up and running which use dietjs and nedb, everything working great as expected.
However, [PageSpeed Insights](https://developers.google.com/speed/pagespeed/insights) asked me to compressing resources to reduce their transfer size. I googled around and was unable to find any sample or hint

[2015-12-24 13:42] adamhalasz commented on #28
Hi @wlekin thanks a lot!

Can you send me the PageSpeed Report so I can see the details of your issue.

If you are using diet-static to serve static resource then CSS and Javascript files are already compressed. You probably get the message because your HTML or other resource types are not compressed. If HTML is the case then that'a a problem with the HTML Template Engine.

Compression should happ

[2015-12-28 13:04] wlekin commented on #28
It look simpler than I think, I will certainly give it a try and look forward to the next update.
Thank @adamhalasz

[2015-12-29 11:07] wlekin commented on #28
I try to implement compress html as a Footer but no success.
So, to work around with it, I modified diet-ect to enable html compressionm.
Replace line 27:
from:

    $.response.end(html)
to:

    $.response.end( require( 'zlib' ).gzipSync( new Buffer( html ) ) );

[2016-01-04 01:29] adamhalasz commented on #27
You are right :) I just updated the docs:
http://dietjs.com/api/server#app.path

Thanks,
Adam

[2016-01-04 01:29] #27 closed

[2016-01-08 07:25] Nosthertus opened #29 "404 host not found in public server"
just exact what the title says.. i can access it by localhost.. but host cant be accessed through public ip.. even when ports are open for public..

[2016-01-08 07:46] Nosthertus commented on #29
I have been diving in diet's core.. and i have found out that routes are not being defined for some reason when it comes to public request.. `app.routes` is never defined so the server returns `404 host not found` on all requests

[2016-01-09 17:05] adamhalasz commented on #29
@Nosthertus what version of diet do you use?

[2016-01-09 18:02] Nosthertus commented on #29
i use 0.9.28

[2016-01-14 05:45] Nosthertus commented on #29
is this a bug?

[2016-01-16 21:00] Nosthertus commented on #29
I have found out that setting ` app.listen('http://190.202.164.84:8000/')` which is my public ip.. the server can now be acceded from internet.. no idea why this happens.. i'm connected through router and i have all ports open for my local ip

[2016-02-05 12:27] ohenepee opened #30 "Diet vs Express benchmark"
It would be cool to see a DietJS vs ExpressJS benchmark to see some performance gaps

[2016-02-05 12:29] mnzt commented on #30
*ahem*
http://dietjs.com/resources/comparison#
:smile:

[2016-02-05 17:33] ohenepee commented on #30
Could you possibly point to me the performance benchmarks there?

[2016-02-07 13:12] adamhalasz commented on #30
@ohenepee @mnzt there is no express vs diet benchmark yet. I will add one later next week.

[2016-02-07 16:52] ohenepee commented on #30
Thanks @adamhalasz

[2016-02-22 06:00] Nosthertus opened #32 "Add grouping route"
Could be a nice idea.. but what if there was a function that groups all methods in a single route?

for example:

[code]

[2016-02-22 19:11] adamhalasz commented on #32
Hey @Nosthertus pretty good idea!

[2016-02-22 19:12] adamhalasz commented on #30
Hey sorry guys I'm having a very busy week but I will do it soon.

[2016-02-22 19:14] adamhalasz commented on #28
As you fixed this for yourself I will close this for now and maybe open it if there are new updates around this topic.

[2016-02-22 19:14] #28 closed

[2016-02-22 19:14] adamhalasz commented on #26
Any updates?

[2016-02-22 19:15] #25 closed

[2016-02-22 19:15] #9 closed

[2016-02-22 19:18] Nosthertus commented on #32
great.. i came up with this when i was developing `diet-raml-generator`

[2016-02-23 08:58] mnzt commented on #32
Syntactically, I think promises would be a better option, example:
[code]

[2016-02-24 00:35] Nosthertus commented on #32
@mnzt that is also a good idea. there could also be a function to catch all methods at once

[2016-02-28 15:58] frank-dspeed commented on #26
ya the update is integrate and use npm install debug it allows handy filter able logging.
you can do var debug = require('debug')('DIETJS::SERVER')
debug('What we normaly log to console')

when we start the app with DEBUG=DIETJS* we get this msg as also when we do DEBUG=DIETJS::SERVER then we would only get the server messages you probally get the idea.

[2016-02-29 11:39] wlekin opened #33 "Cannot use URL Object in app.listen()"
I try to use URL Object in app.listen() but I got a 'cannot call split of undefined' error.
URL String is fine.

[2016-03-01 21:17] clooth commented on #33
This is because the API documentation tells you that the host property is called `hostname` instead of `host`.

Use an URL object like this:

[code]

[2016-03-03 09:39] wlekin commented on #33
thanks so much!

[2016-03-03 09:47] wlekin commented on #33
btw, how to redirect all www to non-www ?

[2016-03-03 10:02] adamhalasz commented on #33
@wlekin how about this?

[code]

[2016-03-03 10:54] wlekin commented on #33
but this could be a infinite loop if it is a real 404?

[2016-03-03 11:05] adamhalasz commented on #33
@wlekin well as a server developer the definition of a "404" is up to you. These should work without problems. Just do not redirect any `non-www` url's to the 'www' host and you should be fine.

[2016-03-03 11:26] wlekin commented on #33
i give it a try, but without www is become a "404 host not found", it wont even trigger missing function.

[2016-03-03 12:36] adamhalasz commented on #30
Hey @ohenepee @mnzt here you go:
https://github.com/adamhalasz/diet/tree/master/benchmarks/load_testing

[2016-03-03 12:36] #30 closed

[2016-03-03 12:45] adamhalasz commented on #33
hmm, let me know how this works out

[2016-03-03 17:10] adamhalasz commented on #29
Hey @Nosthertus I'm glad you managed it. Not sure what happened on your end. If you still have questions regarding this please open a new issue. I'm closing this now

[2016-03-03 17:10] #29 closed

[2016-03-03 17:14] adamhalasz commented on #26
Hey @frank-dspeed yeah debug is nice! :) Did you made a middleware for diet or are you using it as a standalone module?

[2016-03-03 17:16] adamhalasz commented on #23
Do you mean this section?
http://dietjs.com/api/server#app.listen

[2016-03-03 18:03] Nosthertus commented on #29
I didn't have anymore problems about this..

The server was running on a local network and i have understood which ip the server should be acceded as.. this could be due to `http.createServer`

Anyways.. i have made a pull request in `adamhaslasz/diet-static pull#1`

[2016-03-04 17:04] frank-dspeed commented on #23
yes there you can now add that it works with string that is not a url befor only http://domain.tld as string worked now domain.tld works without specify the protocol because the protocol now defaults to http if none supplyed and also a string without protocol with only domain name and port works like domain.tld:8080

[2016-03-04 17:11] frank-dspeed commented on #26
i use it nativ in debug because its i think a core dependency like in express it is also used in every middleware that is bigger and in express it self

[2016-03-04 17:12] frank-dspeed commented on #26
we need to replace console.log in all files with it and like Server init and that.

[2016-03-04 23:09] Nosthertus commented on #26
it could be something like this

[code]

where debug is actually a level of importance.. so let's say `2` would debug the server initialization and all requested routes that are registrered..

[code]

[2016-03-05 12:52] frank-dspeed commented on #26
no thats to complex i am preparing a version where are only DIETJS::SERVER and DIETJS::CONTROLLER stuff more log level dont exists in current code

[2016-03-05 12:54] frank-dspeed commented on #26
you use it like
[code]

[2016-04-08 13:09] frank-dspeed opened #37 "Support for mounting diet as middleware layer."
This will Add cross compatiblity to diet.js

Allow: use in express diet.js middelware.
Allow: use httpCreate server with diet.js
Allow: use of express middelware in dietjs without converting via converting signal to req, res and vice versa with perserving Options!

build and return a function called diet.mount(req, res, next)
This will allow mounting dietjs as a middleware routing layer of express

[2016-04-08 18:18] Nosthertus commented on #37
+1

[2016-04-29 06:52] peremenov opened #39 "Diet throws error on Node 6.0.0"
Example code:

[code]

Result:
[code]

[2016-04-29 09:26] adamhalasz commented on #39
Hey,

I just fixed this in v0.10.5. It was a small problem with the "initialized" variable being defined as constant in strict mode. Let me know if you have any other questions.

Thanks,
Adam

[2016-04-29 09:28] #33 closed

[2016-04-29 17:15] #39 closed

[2016-05-06 13:39] frank-dspeed opened #41 "Wrong ip Detected inside Containers"
listen('http://address.tld') fails inside linux namespace and lxc containers it gets the ip reversing to the hostname address.tld but it dont needs to run on same ip as the domain points too. So this needs removement for Production use cases where domain reverse dns ip is not the same as app ip

listen on ip first and then on the hosts fixes this but i think in general this needs fixing.

Goal is.

[2016-05-10 15:30] frank-dspeed opened #42 "Object.Observe is not anymore proposal for ES7 so depricated"
Plz remove it from the code it is not considered to be used anymore. npm throws warning anyway maybe it dont got your attention :D

greetings

[2016-05-10 20:52] adamhalasz commented on #42
Hey @frank-dspeed,

As of v0.10.5 you shouldn't receive any errors. I replaced the Native Object.Observe with a module. I need a way to observe changes on the Server Instances do to stuff like this:
https://github.com/adamhalasz/diet/blob/master/examples/events/index.js

I will look for alternative solutions, but for now this just works :) Do you have a better suggestion for event tracking?

Thank

[2016-05-10 23:16] adamhalasz commented on #41
Hey @frank-dspeed

I had the same issue before but I just quickly solved it by assigning the exact IP/Hostname to app.listen().

However you make a really good point. I just updated diet to [v0.10.6](https://github.com/adamhalasz/diet/commit/c9a017df318add646b7d7b24c0c9d84150ac31dc). It listens on `0.0.0.0:$PORT` so you can access your Server Instance with any hostname (127.0.0.1, localhost, test.

[2016-05-11 10:19] frank-dspeed commented on #41
ya its the same what i did i simply implemented: listen('0.0.0.0')
thats great !

[2016-05-11 10:19] #41 closed

[2016-05-11 10:20] frank-dspeed commented on #42
Thats not a future Request use Node 7 or Node 6+ and you will get the depricated warning

[2016-05-11 10:23] frank-dspeed commented on #42
maybe do what i do and npm install with diffrent nodejs versions i use
docker run -t -v /path/to/diet:/app node:6.0 '/bin/bash -c "cd /app; npm install"'

[2016-05-11 10:43] frank-dspeed commented on #42
The only way i see to make the object observe able is implamenting nativ getter and setter methods.

so we dont allow modification from the Object without using the getter setter methods.

we could create something like a universal method that adds getters and setter functions to any object that uses that and so we can pass to that a callback for onChange like your onAny.

[2016-05-11 10:50] frank-dspeed opened #43 "Better Implamentation of Protocol Handling"
We should discusse here how to modify diet.js to handle simply all protocols via the current protocol/name shema

--- needed Modifications
- app.protocol looks in /app/protocols/name first then in dietjs so we can overwrite the create server method to return any server we whant to have (net for tcp)

maybe a method for registring protocol handlers by name in the app object as like

app.protocolHan

[2016-05-11 10:54] frank-dspeed commented on #43
i use such functionality in my fork already but its badly hacked code for example i implamented proxy://
and lb:// protocol with costum http servers that do the job like the name says but i also did mysql:// and other protocols a lot

[2016-05-11 11:05] frank-dspeed commented on #37
Update we can make a transformation handler:

we need to make the signal forming method aviable via app.createSignal(req, res) so we can do
[code]

[2016-05-11 11:19] frank-dspeed commented on #37
maybe #43 will solve this too via registering and listing on express:// protocol and then return the http server object of a express app needs reviewing if this is possible

[2016-05-11 11:26] frank-dspeed commented on #32
At present i group it like this:

I create out of diet.js a server framework to listen for many thousend apps and domains. for my usecase maybe you can use that infos:

i do for the main server a global.server = diet
then i create diffrent controller/app1

then in the main server i do server.controller('app1')

so app1 needs top be a js file that defines a normal dietjs app and use a costum name f

[2016-05-11 11:42] frank-dspeed opened #44 "Proposal: TCP Port Multiplexing!"
Implament code support for this clib
https://github.com/DIREKTSPEED-LTD/sslh

it will ENABLE us to make more then one DIETJS application bind to the same TCP port!!!

sslh accepts connections on specified ports, and forwards them further based on tests performed on the first data packet sent by the remote client.

Probes for HTTP, SSL, SSH, OpenVPN, tinc, XMPP are implemented, and any other protoc

[2016-05-11 11:48] frank-dspeed opened #45 "ADD: middelware method to require consistent"
Lets add app.middelware('name') requiring dietjs middelware from middelware folders that also allows better application grouping

[2016-05-11 12:00] frank-dspeed commented on #44
https://github.com/robertklep/node-port-mux

is a fast implament able way as option

when we would implament better protocol support #43 we could simply return a node-port-mux instance as server

else we could make a diet.js addon that patches the app object to use on listen node-port-mux

[2016-05-11 12:05] frank-dspeed commented on #26
i think this can be closed and solved on application (diet app level) no need to investigate.

[2016-05-11 12:05] #26 closed

[2016-05-12 16:14] frank-dspeed commented on #42
I found the coders of Object.Observe

they suggested: For developers who have been experimenting with O.o and are seeking a transition path, consider using a polyfill such as MaxArt2501/object-observe or a wrapper library like polymer/observe-js.

[2016-05-20 06:36] Nosthertus opened #46 "$.header() triggers routes even if error was executed"
`$.header()` should skip the registered routes if for example `$.failure()` is already thrown from `$.header()`.. Maybe trigger `$.footer()`, but this turns out to be a little security fail in my opinion

[2016-05-20 13:01] frank-dspeed opened #47 "Proposal: Make Diet Flexibel"
We should de couple all parts of DietJS that are at present bound to the listen function.

we should export a method that creates the

so that we can create apps for hostmatches in

diet = require diet // returns server and app part but app part
server = diet.server() // init diet server object

// allwo to give app as options and if not given a diet.app() instance we simply init one and return th

[2016-05-23 21:29] kikwit opened #48 "Load test"
On [this page](http://dietjs.com/resources/comparison#comingsoon) it's said that

I've created a simple benchmark whose results you can [see here](https://github.com/kikwit/kikwit). Diet seems slower than Express in my tests.
Is there something I'm missing?
I've also tried setting NODE_ENV to production but it didn't make any difference.

[2016-05-23 22:00] adamhalasz commented on #48
hey @kikwit I did those benchmark a while ago with different versions of Diet and Node. It is outdated :S

The newer versions of Node.js are much faster. On my latest benchmark Vanilla (v5.7.0) is faster than Diet (v0.10.2) and Express (v4.13.4), and Diet is a bit faster than Express.
https://github.com/adamhalasz/diet/tree/master/benchmarks/load_testing

So yeah I need to update Diet's homepage :

[2016-05-24 09:44] bondowe commented on #48
Thanks @adamhalasz. I return the compliment. I've played with diet a lot, it looks promising.

Kikwit isn't ready for production and the documentation isn't great yet.

[2016-06-02 07:08] kokujin opened #49 "Configuring other templating engines"
I just tried to use the Nunjucks templating engine

[code]
This does not work as expected, here is the error I received

[code]
What should I look out for or what other steps should I take to properly configure other engines?

Thanks

[2016-06-02 07:35] adamhalasz commented on #49
Hey @kokujin I createad a small example that works for me. Please have a look at this:
https://github.com/adamhalasz/diet/tree/master/examples/nunjucks

[2016-06-02 13:15] kokujin commented on #49
Excellent! Works. Thanks

[2016-06-02 13:15] #49 closed

[2016-06-03 08:02] kokujin opened #50 "Named routes or urlFor() ?"
Does diet.js have a way to name routes or a urlFor() function? Thanks

[2016-06-03 08:03] kokujin opened #51 "Support for other HTTP verbs?"
Would there be support for other HTTP verbs in the future? (PUT, PATCH e.t.c) Thanks

[2016-06-03 13:41] adamhalasz commented on #51
Hey @kokujin

Diet already supports `GET`, `POST`, `PUT`, `HEAD`, `DELETE`, `TRACE`, `OPTIONS` and `PATCH`.
http://dietjs.com/api/server

Thanks,
Adam

[2016-06-03 13:50] adamhalasz commented on #50
Hey @kokujin there is no Standard way to create Named Routes with diet, but it's a good idea! I will give it some thought for possible implementations. If you have any suggestions/ideas on how you imagine the API with Diet let me know :)

Thanks,
Adam

[2016-06-03 13:50] #48 closed

[2016-06-03 13:51] adamhalasz commented on #46
Hey @Nosthertus sorry for the late reply. I will look into this!

[2016-06-03 21:37] kokujin commented on #51
Great!

[2016-06-03 21:37] #51 closed

[2016-06-05 20:36] Nosthertus opened #52 "REQUEST: $.multipart always set to false"
Making test with this simple html

[code]

And logging in diet server, i see that multipart is set to false, and also.. `$.body` is undefined

i found this while i was struggling to see why the server was never getting the file from one of my projects.. this could be a bug or i am missing something

the testing server has this code

[code]

[2016-06-13 06:10] paszin commented on #46
To achieve the expected behavior you can call `$.failure(null, true);`.
This sets `isLast` to true and the route will not be triggered.

For more details look into `protocols/http/signal.js` line `118`.
You could set `isLast` to `true` for all cases.
Furthermore line `122` looks wrong and also useless for me.
I would suggest ` if(isset(input)) Object.assign(signal.errors, input)`

[2016-06-18 22:49] Nosthertus opened #53 "app.missing() not working"
Diet version: 0.10.7

`app.missing()` is not working when there is no uri that matches with the request

[2016-07-03 08:38] Nosthertus opened #54 "app.put() body is not parsed"
running on `Diet 0.10.8`, just making the First PUT i have ever done on a server and i have found out that `$.body` on this method is not being parsed, the whole data is still serialized

[2016-07-03 10:06] adamhalasz commented on #54
Hey @Nosthertus is it a multipart request?

[2016-07-04 02:28] Nosthertus commented on #54
@adamhalasz no, it's just a simple PUT request, with no upload file, just like a normal POST

[2016-07-13 07:21] rudimk opened #55 "Nginx doesn't work with Diet?"
I have a Diet.js API running on ```http://127.0.0.1:6000```, and I'm trying to set up nginx to proxy requests to the API. But it doesn't work - nginx invariably throws up a ```404 host not found``` error.

I saw [this](https://github.com/adamhalasz/diet/issues/16) issue, and it seems similar to the predicament I'm in. Unfortunately, I can't figure out where to apply the same fix, because I suppose

[2016-07-14 06:39] rudimk commented on #55
Okay, so I dug around a bit and found [#29](https://github.com/adamhalasz/diet/issues/29). I tried setting ```app.listen('http://PUBLIC_IP:6000')``` but that gives the same error.

[2016-07-14 07:33] adamhalasz commented on #55
Hey @rudimk if you see the `404 host not found` error that means Diet responded. I think the problem is somewhere with the `host` that nginx forwards to Diet.

Please can you add the below snippet right after you create a Server Instance and then run your app and open `http://127.0.0.1:6000`. I would like to see the logs from that.
[code]

Also can you please show me your nginx configuration?

[2016-07-14 07:42] rudimk commented on #55
Okay, so I added the snippet, and tried to open a route:
[code]

And, here's my nginx configuration:

[code]

[2016-07-14 07:48] adamhalasz commented on #55
@rudimk sorry I updated my answer. Please can you run it with the updated code?

[2016-07-14 07:54] rudimk commented on #55
Okay, so here's what happens now. Accessing the API through 127.0.0.1:6000 on my server gives me this, which is pretty valid for my use case:
[code]

Now if I try accessing it from outside - through a request on my Mac, it returns the 404 host not found, and the log looks like this:

[code]

[2016-07-14 07:54] adamhalasz commented on #53
Do you still get this on v.10.8?

[2016-07-14 07:58] rudimk commented on #55
Also, I'm sure my code isn't exactly too optimized. Javascript's still feels new.

[2016-07-14 08:04] rudimk commented on #55
Damn, I missed the other questions.
- Nginx stands at v1.4.6
- Node's at v0.12.15
- Diet's at v0.10.8
- I'm running Ubuntu 14.04 on Azure.

[2016-07-14 08:16] Nosthertus commented on #53
Not anymore. thanks for the fix, i was planning to work on it but i got really busy

[2016-07-14 18:06] jake-walker opened #56 "Question: How can I disable listening on port 80?"
Hi,

I my aim is to have multiple diet instances but spread across different files. For Example:
__File 1__
[code]

__File 2__
[code]

When I start the first file it works OK but when starting the other it errors:
[code]
and when I go to my VPS IP it says `404 host not found`. So I'm guessing its not working because both files are trying to listen on port 80 to show `404 host not found`.

Please s

[2016-07-14 20:19] Nosthertus commented on #53
i just found another bug on the missing method. which i know a workaround for this, but just in case you keep it in mind..

This bug happens again when footer is called and does not call `$.return()`

[2016-07-14 20:46] adamhalasz commented on #56
Hi Jake! Please take a look at my answer on stackoverflow about to hosting multiple domains with node:

http://stackoverflow.com/a/25352594

You cannot listen on the same port with 2 separate node processes with Diet (and not sure if you can do this with anything else either, although it would be possible)

Kind Regards,
Adam

[2016-07-14 22:28] Nosthertus commented on #56
what is your OS?

[2016-07-15 06:41] jake-walker commented on #56
Thanks @adamhalasz that's very helpful :)

[2016-07-15 06:47] jake-walker commented on #56
@Nosthertus Linux - Ubuntu 15.04

[2016-07-15 06:48] #56 closed

[2016-07-15 06:50] adamhalasz commented on #56
@jake-walker I'm glad I was able to help you! Let me know if you have any other questions.

Thanks,
Adam

[2016-07-15 06:53] adamhalasz commented on #55
@rudimk sorry for the late reply. Thanks for the environment details. Diet had some issues before with pre-configured cloud environments, it may be related. Have you tried this with a local nginx or a vps like digitalocean?

In my latest code snippet there is a second console log which logs the signal "...... APP -> Signal". The signal has a much more information like the header which includes the

[2016-07-15 07:21] Nosthertus commented on #56
@jake-walker on linux, port 80 is only available for `root` user

from what i can tell on the log you gave us, node is trying to host on that port. You could try to host your server with root privileges like this

[code]

[2016-07-15 09:00] rudimk commented on #55
Hey, not at all!

Bit confused about what pre-configured means here. I mean, I've installed everything here, no orchestration whatsoever. Also, I haven't done this on a local system or on DO, but I can try that too.

So here's the log when I hit an API route in my app:
[code]

[2016-07-15 09:02] rudimk commented on #55
I'm also planning to spin up a basic proxy using http-proxy - got the idea from your response on [#56](https://github.com/adamhalasz/diet/issues/56).

[2016-07-15 10:31] rudimk commented on #55
I spun up a very basic http proxy. Same results - 404 host not found. If I then redirect that proxy to a basic Express app, it works just fine. Here's a dump of the proxy code, if it's of any help:

[code]

[2016-07-15 20:17] jake-walker commented on #56
@Nosthertus Yeah, I'm running it as root

[2016-07-18 12:12] rudimk commented on #55
Hey @adamhalasz! Hate to bug you, but do you have any pointers on this thread? For now, I'm probably going to run the API server on port 80 without nginx, but ideally that's not a situation one would want to continue with, especially when we need to start load-balancing.

[2016-07-20 10:05] adamhalasz commented on #55
hey @rudimk sorry for the late reply I'm really busy this week. I will look into this over the weekend/beginning of next week.

[2016-07-20 13:34] rudimk commented on #55
No problem! For now, the API's running pretty well without any proxy. Thanks for the help! Do let me know if I can be of any help when you get back to this :)

[2016-07-20 22:57] topcheese opened #57 "Semantic-ui and RekordJs Support or Module?"
I'm not that great at coding, but I was thinking of using the three together. I'm going to try and hopefully hack something together, but it would be nice if there was some sort of official support to help start me off.
~Thanks!

[2016-07-20 23:03] topcheese commented on #57
I'm not that great at coding, but I was thinking of using the three together.  I'm going to try and hopefully hack something together, but it would be nice if there was some sort of official support to help start me off.
~Thanks!

[2016-07-23 06:34] adamhalasz commented on #57
Hey @topcheese I'm glad you would like to use diet! I don't have experience with Semantic-ui and RekordJS, so I can't tell you specifics. I'm pretty sure you can make the 3 work together 😉

Have a look at [diet-vue](https://github.com/adamhalasz/diet-vue). [Vue.js](http://vuejs.org/) is a Reactive Library. It could give you some inspiration on how to connect the Frontend and the Backend in a dynam

[2016-07-23 06:43] adamhalasz commented on #55
hey @rudimk thanks for your patience. I'm really tied up in my own work but I'm going to work on this as soon as I can, when I will have some more time on my hands. We're going to use nginx as well at my company. I'm going to deal with this pretty soon.

How is diet performing without nginx by the way? If you don't mind me asking, what are you working on?

Thanks,
Adam

[2016-07-23 06:59] adamhalasz commented on #43
Hey @frank-dspeed I like this idea a lot. I redesigned diet a while ago specifically with this in mind. That's why we have the protocols folder. I will add WebSocket support soon. If you have a Proposal and working code send me a link and I will look over it.

The Protocols should be Third Party modules by the way and you could attach them like this:
[code]

Then the Method Listeners will become u

[2016-07-23 07:10] adamhalasz commented on #32
Hey guys, love this topic. I will add this feature in the upcoming `v1.0`.

The API will most probably be like this:

[code]

Which allows chaining as well as @mnzt mentioned:

[code]

Kind Regards,
Adam

[2016-07-23 07:15] adamhalasz commented on #32
@frank-dspeed can you share some code snippets for your implementation?

[2016-07-23 07:36] Nosthertus commented on #32
i suppose `resource()` would be something new to add to the API, but either way the example looks very nice, and really glad this framework is close to hit 1.0

[2016-07-23 07:52] rudimk commented on #55
Hey, no problem! I can understand. The thing is, it's not just nginx - even using node-http-proxy throws the same error. Not sure if this is something to do with the way I've written my code, or it's something to do with Diet. But yeah, I suppose we'll figure it out.

Diet works just fine without nginx. The drawback is that I can't exactly run anything else on the server, since port 80 is blocked

[2016-07-24 14:11] marekkobida opened #58 "Redirect all routes to reactjs/react-router with static files"
I need to redirect all routes to reactjs/react-router. diet-static must work and custom routes too.

[code]

`server.get("*", ($) => {})` does not work with diet-static

[2016-07-24 18:44] Nosthertus commented on #58
Greetings @marekkobida

i am trying to understand the purpose of your question, i have little knowledge on react so i will try to help you from the server perspective

none of your routes won't work if you are loading `diet-static` in the footer (Please check Footer section in the API website [here](http://www.dietjs.com/api/server#app.footer)). Basically what `diet-static` does is handling the UR

[2016-07-26 03:21] marekkobida commented on #58
Hi @Nosthertus

Is this the right way how could I do this?

[code]

[2016-07-26 20:23] Nosthertus commented on #58
Hi @marekkobida Sorry for the late answer

Does `react-router` support `HTML5` URL on your page?.. meaning that all URLs must be redirected to index without losing the requested url..

if that's the case.. then we have to tell the static server to always go to `index.html` for all requested URLs, as long as they are not requesting assets files like `JavaScript` and `Cascade Style` files..

[code]

[2016-07-26 20:36] marekkobida commented on #58
Hi @Nosthertus

_You are my hero! Thank you very much._

[2016-07-26 20:38] #58 closed

[2016-07-26 20:41] Nosthertus commented on #58
Hey @marekkobida

Glad i was able to help you

[2016-07-28 19:31] marekkobida opened #59 "API middleware with token authentication except some routes"
Is this the right way to make a middleware for all routes with token authentication except `/sign-in` route?

[code]

Only this is the right way?

[code]

[2016-07-28 20:11] Nosthertus commented on #59
hey @marekkobida

Both ways seems to be right. i can tell you want to make authorizations on your application, but depending on the behavior you seek to achieve, i would recommend creating a custom module for diet that handles authorization of this kind or extend another header to the application, there's no problem on adding multiple headers, diet will execute them sequentially.

Please note that

[2016-07-28 22:22] #59 closed

[2016-07-29 12:40] garylogin opened #60 "deprecated object.observe@0.2.6: Object.observe isn't an ES7 proposal anymore and will be removed from V8 - don't use it for production code"
Hi
ran: npm install diet --save

diet@0.10.8

 deprecated object.observe@0.2.6: Object.observe isn't an ES7 proposal anymore and will be removed from V8 - don't use it for production code

what should i do?
Thanks

[2016-07-29 13:29] adamhalasz commented on #60
Hey @garylogin . That's just a warning meaning future versions of node will not support Object.observe. It does not affect your code anyway you are fine safe!

As for me I'll have to use a different way to observe events in the next releases of diet.

Thanks,
Adam

[2016-07-29 23:23] KingPixil commented on #60
Yes I was wondering the same thing, I will be using Diet in production code.

I really don't want to use anything else since I :heart: diet. Please fix this :smile:

[2016-07-30 17:57] Nosthertus commented on #60
i wonder for what purposes are you using `object observer` i think the best alternative would be defining `getters` and `setters`

[2016-07-31 01:10] Nosthertus opened #61 "Suggestion: rename signal properties for better readability on request and response"
I am sure it happens on many developers (specially when they are trying for the first time this framework) that some signal properties have the same name for request and response.. i would suggest to change the names of these properties like this

[code]

[2016-07-31 04:54] frank-dspeed commented on #43
good proposal but we need to do listen by protocol where some protocols can do multi listen and some need to fail when anything listens already.

[2016-07-31 05:00] frank-dspeed commented on #32
Ya need to find the example have at present to much un sorted codes but will ping you back on this and will always watch this repo for current state

[2016-08-17 19:58] rudimk commented on #55
Hello! Any news on this issue?

[2016-08-23 06:26] adamhalasz commented on #55
hey @rudimk

I'm really sorry for the late answer. I've been busy with my company and moving.

I think I just found the issue. You are specifying the `host` header as `$host` which will be `api.dartboardiq.com` but diet is listening on `http://127.0.0.1:6000/`. This is why you are getting a host not found error.

This nginx configuration works for me on Localhost. Let me know if it works for you a

[2016-08-23 06:29] #57 closed

[2016-08-23 11:04] rudimk commented on #55
Hey Adam!

First off, congratulations on the company setup! I noticed Diet's repo ownership changed. Sounds pretty cool!

Second - it worked like a charm! It didn't strike me that the `$host` in the nginx config needed to be changed to match the host and port Diet ran on. Makes perfect sense. Thanks ever so much!

PS - [A small attempt](https://medium.com/p/koa-diet-js-i-fd6e1e42d151) at spreading

[2016-08-23 11:04] #55 closed

[2016-08-23 20:26] adamhalasz commented on #55
Hey @rudimk,

I'm really glad it works for you! Again sorry for the late answer! Thanks a lot for your patience. I just finished reading your article, it's amazing!

Sincerely,
Adam

[2016-09-16 06:47] jake-walker opened #63 "Can I listen on mydomain.com and also www.mydomain.com without making 2 servers?"
Hi,

I have multiple websites hosted with Diet and I have realized only recently I can only access it using mydomain.com and not www.mydomain.com.

Here is some example code of my site currently.
[code]
It only listens on mydomain.com not www.mydomain.com.

How can I get it do do this without doing (preferably):
[code]

Thanks in advance.

[2016-10-19 11:44] frank-dspeed commented on #61
nope we should make it the following if it is not this way at present:

We use so called lazzy setter getters that means;
$.headers() -> returns the headers its a getter
$.headers('headname') -> returns the single header its a getter
$.headers([headname1,headname2]) -> returns the 2 headers its a getter it got a single arrgument array could be also single arrgument object.
$.headers('headername',

[2016-10-19 14:26] frank-dspeed commented on #63
you can call listen more then once :+1:

var server = require('diet')
var app = server()
app.listen('http://mydomain.com/')
app.listen('http://www.mydomain.com/')

app.get('/', function($){
  $.end('Hello World!')
});

[2016-10-19 17:24] jake-walker commented on #63
@frank-dspeed Thanks so much!

[2016-10-19 17:24] #63 closed

[2016-10-24 11:13] ahmadibrahim-c opened #66 "Is this still maintained?"
This framework is really great but the website says the current version is 0.9 while here it is 0.10, the last commit and issues are like 4 months old..

So I wonder if this framework is still maintained

[2016-10-24 21:14] adamhalasz commented on #66
Hey @ahmadibrahim-c yes it is maintained, I'm just very busy working on my startup recently.

[2016-10-24 21:15] #50 closed

[2016-10-25 00:02] ahmadibrahim-c commented on #66
Good to know, wish you luck @adamhalasz

[2016-10-25 00:02] #66 closed

[2016-10-25 21:35] ahmadibrahim-c opened #67 "Proposal: Download file"
It will be great if you can provide a way to download file from a route to be something like that

[code]

[2016-10-25 23:45] Nosthertus commented on #67
There is an example on how to recieve files from a request in the webpage. Although it would be nice as a separated module feature

[2016-10-25 23:47] ahmadibrahim-c commented on #67
Hey @Nosthertus , can you give me a link to that example?

[2016-10-25 23:55] Nosthertus commented on #67
Sure. You can see it in http://dietjs.com/tutorials/router#middleware

`formidable` is used to parse `multipart/form-data` which is `blob` type and gather all the files from the submit

[2016-10-26 00:00] ahmadibrahim-c commented on #67
As far as I understand this shows how to upload file, what I'm looking for is a way for a user to **download** file when he opens a link, like when he opens a link lilke this `https://uploadsite.com/download/12341234` he can then download the file

[2016-10-26 00:18] Nosthertus commented on #67
I was thinking to make that feature for the module i made `diet-static-stream` but i have gotten pretty busy.. for the moment you would have to read the file and send it in the response.

I have made an example about sending files to the client which could be helpful for you in this [comment](https://github.com/bayorigin/diet/issues/58#issuecomment-235393146)

[2016-10-26 00:23] ahmadibrahim-c commented on #67
Thank you so much!!

[2016-12-15 05:55] Nosthertus commented on #53
Looks like this bug is back again on version `0.10.8`

[2016-12-15 06:07] Nosthertus commented on #53
nevermind.. it was a proxy problem

[2016-12-15 06:07] #53 closed

[2016-12-15 19:31] Nosthertus opened #68 "Header response cannot be set on GET from footer middleware"
Greetings

I am currently working on a module implementation for `CORS` and i just found that `GET` method does not have the headers set from the `Footer` middleware, this happens on all routes.. and this does not happen on other methods

[2017-01-09 20:30] mckenzieja opened #69 "Couldn't serve a static html file"
After hours of struggling. I couldn't get it to serve a single static html file. Are we forced to use ect? Say I want to serve a single static html file and then later decide to use a renderer?

[2017-01-09 20:43] adamhalasz commented on #69
Hi @mckenzieja Sorry for hear that. With the `fs` module and setting the `content-type` to `text/html` you should be able to do it pretty quickly. No you are not forced to use ECT there is even a Nunjucks example:
https://github.com/bayorigin/diet/tree/master/examples/nunjucks

### Serving a single Static HTML File

Assuming a folder structure like this:
[code]

And having this in `index.js`
[code

[2017-01-10 03:00] Nosthertus commented on #69
greetings, please let us know if @adamhalasz response was the solution to your problem

[2017-01-10 16:31] mckenzieja commented on #69
Thanks for your prompt response!

I've only had experience in Express. That being said, is it possible to use express say for routing but still use diet for virtual hosting?

Here's what I have and it seems to work. I had it working before I saw your solution.

[code]

[2017-01-10 17:25] Nosthertus commented on #69
Not sure what you are trying to do, `diet-ect` is used to interpolate data from `nodejs` into `html` and then serves the files with the results, while `diet-static` just serves the files without interpolation.

You can use `diet` as virtual hosting for `express` but i wouldn't recommend it, cause `diet` is not yet that stable to handle it properly

[2017-01-13 00:02] luisvinicius167 opened #70 "Can I use Diet.js in Production?"
I just question this because I liked the diet.js, but the last commit was six months ago and I have no idea about the maintenance for this project.

[2017-01-13 03:35] Nosthertus commented on #70
You can use `diet.js` in production, keep in mind this module is not stable yet and future changes could damage your current code because of big `API` changes

[2017-01-13 20:13] mckenzieja commented on #69
Well I'd like to interpolate data later.

I tried your method but it displays the entire html content as a string in the browser.

[2017-01-13 20:18] Nosthertus commented on #69
@adamhalasz method just loads the entire static file and sends it in the response as it is, without any interpolation

[2017-01-13 20:21] mckenzieja commented on #69
Well the browser doesnt interpret the data. It just display raw html. Tags and all.

[2017-01-14 22:09] luisvinicius167 commented on #70
Ok! Have any plans to launch the new version of diet.js? Have a branch of that API changes?

[2017-01-15 01:18] Nosthertus commented on #70
Unfortunately. There won't be any updates for a while. BayOrigin's CEO is busy with the company startup

[2017-01-15 01:21] Nosthertus commented on #69
I'm sorry for the late response, i am currently moving and i took a small time to answer.. can't you still show interpolated data?

[2017-01-16 22:34] luisvinicius167 commented on #32
I changed the source code and I implemented this for me, and it is working very well.

[code]

[2017-01-17 21:08] luisvinicius167 commented on #32
I created a grouping route module for ```Diet.js```. For me, it's very useful: https://github.com/luisvinicius167/diet-group-router

[2017-02-22 01:51] askie opened #71 "how to debug?"
I change the code of controller file home.js:
`$.data.title = 'Hello World 123444'`

but when I refresh the page of http://192.168.0.108:8000/

the page nothing changed,
but where restart node, refresh the page is changed.

how to debug diet?

[2017-02-22 02:00] Nosthertus commented on #71
I don't clearly understand the issue. Please add more detail of your problem

[2017-02-22 02:06] askie commented on #71
I start diet app at http://192.168.0.108:8000/ using method:
`node index.js`

and then using sublime to edit the file controller/homg.js:
` module.exports.display = function($){
        $.data.title = '222'
        $.end()
    }`

then I refresh the page of http://192.168.0.108:8000/,
nothing changed, the $.data.title still is the last value,

but when I ctr+c stop the node,and run `node index.js`

[2017-02-22 02:21] Nosthertus commented on #71
I'm sorry. I'm still scratching my head about this issue.. could you post `index.js` and HomeController files?

[2017-02-22 02:30] askie commented on #71
all file is using yo diet  created,
then run  node index.js
then open http://192.168.0.108:8000/
and then edit controller/home.js
and then refresh http://192.168.0.108:8000/ ,nothing changed

ctr+c
and then run node index.js
the page http://192.168.0.108:8000/ changed!

[2017-02-22 02:32] askie commented on #71
[index.js.zip](https://github.com/adamhalasz/diet/files/792076/index.js.zip)
[home.js.zip](https://github.com/adamhalasz/diet/files/792077/home.js.zip)

[2017-02-22 02:36] Nosthertus commented on #71
So you are chaning the content of the server files while the server is on?

[2017-02-22 02:36] askie commented on #71
yes

[2017-02-22 02:43] Nosthertus commented on #71
Now i see what is happening.. when `node.js` execution starts, the program loads the whole code including the files that are required and then the logic execution starts.. unfortunately `node.js` is unable to update the content on the memory when a file is changed.

So in other words. If you want to apply changes to `node.js` you must restart `node`.

There are node modules that can restart the pr

[2017-02-22 02:49] askie commented on #71
where app is developing, this is very necessary to dynamic loading the changed file.
I find a solution :  npm install supervisor -g
and then run: supervisor index.js
well done!

thx!

[2017-02-22 02:53] #71 closed

[2017-02-22 02:56] Nosthertus commented on #71
I don't know any other reason than developing for restarting the server for changes on the server files.. but if this helped you then i'm glad i was able to help.

If there is no other problem then please close this issue

Keep in mind that github issues are for bugs and errors found in the related repository. You can use `stackoverflow` for any other kind of problems

[2017-02-22 06:12] askie commented on #37
+1

[2017-02-22 07:49] askie commented on #43
It's wonderful when diet support socket.io or IPC protocol of router,
diet will adapt to develope a electron app!

[2017-02-22 09:07] frank-dspeed commented on #43
@askie i think we have socket.io support at present and also a feathers integration

[2017-02-22 09:08] frank-dspeed commented on #43
@askie https://gist.github.com/adamhalasz/1cc6a549f6a0e950f73e

[2017-02-22 09:15] frank-dspeed commented on #60
@garylogin this is dublicate of #42 please close

[2017-02-22 09:25] frank-dspeed opened #72 "Proposal Replace object.observe by Kefir.Stream or the IBM Shim"
lets use Kefir Streams :+1:
Or the IBM Code
This Closes: #60 #42

## Source from IBM decor
IBM decor Shim for OberservableArray
[code]

IBM Decor Shim for Observeable
[code]

[2017-02-22 09:26] frank-dspeed commented on #72
Or lets use Kefir Streams :+1:

This Closes: #60 #42

[2017-02-22 13:01] askie commented on #43
@frank-dspeed how to use socket.io and use the same router of diet?
such as:
server code：
`
// Diet Server
var server = require('diet')
var app = server()
app.listen(8000)

// Socket.io
var io = require('socket.io')(app.server) // <-- use app.server
io.on('connection', function(socket){
    console.log(' ... socket.io: A USER CONNECTED');
});

app.get('/api/get', function($){
    $.data.name="john

[2017-02-22 23:09] frank-dspeed commented on #43
@askie thats a totall diffrent issue you open a new :+1: for that kind of questions this is a Proposal for something more advanced.

[2017-02-22 23:13] frank-dspeed commented on #37
@askie https://www.npmjs.com/package/diet-express

if your interrested in this

[2017-02-23 02:08] askie commented on #43
@frank-dspeed   my idea just like this : https://github.com/finalclass/socket.io-router

[2017-02-23 03:43] frank-dspeed commented on #43
@askie @askie thats a totall diffrent issue you open a new :+1: for that kind of questions this is a Proposal for something more advanced.

or even more better to directly create that and make a pull request but please stop commenting here in this issue. It is simply the totall wrong place and i don't want to clean all that up

[2017-02-27 14:05] adamhalasz commented on #70
@luisvinicius167 Sorry for the late reply. Yes you can use it in production. The API hasn't changed much in the last few years and there are no plans to drastically change it in the future. We might add new features but every change is going to be documented.

@Nosthertus Thanks for helping out with the issues! But wait why do you think diet is not stable?

[2017-02-27 19:58] Nosthertus commented on #70
@adamhalasz there are some features that are not properly working, i have created issues for them, and i think it's better to point the package on not being stable stage until it reaches `v1.0.0`, for the time being i will see diet as `alpha` and of course i will still help with this repository cause `Diet` is actually the only `node.js` hosting package i like

[2017-03-02 20:41] adamhalasz commented on #72
Just published a new version with the ES6 Proxy which replaces object.observe which should fix this.

[2017-03-02 20:41] #72 closed

[2017-03-02 20:41] adamhalasz commented on #60
Just published a new version with the ES6 Proxy which replaces object.observe which should fix this.

[2017-03-02 20:41] #60 closed

[2017-03-02 20:41] adamhalasz commented on #42
Just published a new version with the ES6 Proxy which replaces object.observe which should fix this.

[2017-03-02 20:41] #42 closed

[2017-03-02 22:22] adamhalasz commented on #70
@Nosthertus Thanks for your kind words. I understand that there are some rare bugs, I will fix then soon. The stability of a module has not much to do with the version. The version is more important in compatibility matters when new features/methods are added.

@luisvinicius167 I have websites running for years under diet with 100% uptime. Diet is production ready and I will keep making it better

[2017-03-02 22:22] #70 closed

[2017-03-02 22:27] adamhalasz commented on #69
Hey @mckenzieja As of `v0.12.0` you can also use `$.sendFile(path)`

[code]

Check out the sendFile example for reference:
https://github.com/adamhalasz/diet/tree/master/examples/sendfile

[2017-03-02 22:29] adamhalasz commented on #61
@Nosthertus  As of `v0.12.0` you can use `$.getHeader(key)`, `$.setHeader(key, value)` to return response headers and `$.getRequestHeader(key)` to return request headers.

As far as I know you cannot SET request headers because they come from the client.

[2017-03-02 22:30] #61 closed

[2017-03-02 22:39] frank-dspeed commented on #47
- [ ] Create diet.signal() method for manual creating signal from server
- [ ] Helper methods for get set internal server array
- [ ] Should be easy to use existing server instances.

[2017-03-02 22:40] frank-dspeed commented on #44
Related to #47

[2017-03-02 22:43] frank-dspeed commented on #47
Related #43

[2017-03-02 22:43] frank-dspeed commented on #43
Related #47

[2017-03-02 23:50] adamhalasz commented on #32
As of `0.13.0` grouping is supported with `app.resource(path)`. It works as described above in my previous comment.

[code]

You can also chain it as such:

[code]

For reference check out the Resource Example:
https://github.com/adamhalasz/diet/blob/master/examples/resource/index.js

[2017-03-02 23:51] #32 closed

[2017-03-02 23:57] adamhalasz commented on #45
@frank-dspeed diet already supports requiring MVC middleware files/modules as such:

[code]

[2017-03-02 23:57] #45 closed

[2017-03-02 23:57] #69 closed

[2017-03-03 00:13] adamhalasz commented on #52
The `$.multipart` is set to true. The `$.body` should be empty because diet does not handle multipart requests at the moment. Use formidable or something :)

![screen shot 2017-03-03 at 1 10 22 am](https://cloud.githubusercontent.com/assets/839018/23532855/4d590536-ffae-11e6-91d8-ad6e9fbd33d9.png)

<img width="1025" alt="screen shot 2017-03-03 at 1 12 01 am" src="https://cloud.githubusercontent.co

[2017-03-03 00:17] #52 closed

[2017-03-03 00:21] adamhalasz commented on #67
@ahmadibrahim-c $.download actually sounds cool 👍

[2017-03-03 00:40] adamhalasz commented on #67
As of `v0.14.0` you can use `$.download(path, filename)` as such:
[code]

For reference check out the simple Download Example:
https://github.com/adamhalasz/diet/tree/master/examples/download

[2017-03-03 00:40] #67 closed

[2017-03-03 01:09] Nosthertus commented on #67
@adamhalasz does this set any special headers to the response?, also.. does this have support for auto `mime-type` detection?

[2017-03-03 01:12] adamhalasz commented on #67
@Nosthertus Yes it sets the content-disposition header. Yes it does detect the mime type since it is using $.sendFile which uses the mime.lookup method from the mime module.

[2017-03-03 01:36] Nosthertus commented on #67
@adamhalasz are the headers set after or before calling the download method?.. i ask because there are cases where custom `content-type` is to be set with a different value which might not exist in `mime` module

[2017-03-03 01:39] adamhalasz commented on #67
@Nosthertus The content-type header is set in $.sendFile which is called within the $.download method. You can take a look:
https://github.com/adamhalasz/diet/blob/master/controllers/protocols/http/signal.js#L65

[2017-03-03 04:50] ahmadibrahim-c commented on #67
Thanks man! I really needed that.

[2017-03-03 19:04] luisvinicius167 opened #73 "Diet.js on Heroku"
[code]

I don't know why this not run on Heroku.

[2017-03-03 19:09] Nosthertus commented on #73
does the server give any response?

[2017-03-03 19:17] luisvinicius167 commented on #73
Yeah! But, heroku logs show:

`HTTP Server is listening on http://0.0.0.0:8080/`
`Error R10 (Boot timeout) -> Web process failed to bind to $PORT within 60 seconds of launch`

[code]

[2017-03-03 19:28] Nosthertus commented on #73
i'm not sure, but it could be a server error rather than diet

[2017-03-03 19:32] luisvinicius167 commented on #73
Try yourself to put some application with diet.js on heroku. It's hard man! :P

[2017-03-03 19:41] adamhalasz commented on #73
@luisvinicius167 Make sure you use a newer node version (>= v6.4.0) You can specify the node version in your package.json:

https://devcenter.heroku.com/articles/nodejs-support#specifying-a-node-js-version

[code]

[2017-03-03 19:52] adamhalasz commented on #73
But unfortunately you are most probably going to get a "404 host not found". Heroku is confusing around the hostnames & ports. It registers the app to a local port but it sends port 80 and a different hostname in the HTTP headers when you access the app URL.

I will try to come up with a solution.

[2017-03-03 20:49] luisvinicius167 commented on #73
Yeah. I got the same problem on xervo.io, host not found.

[2017-03-03 23:50] Nosthertus commented on #73
that was actually the issue i was thinking.. this also happens when incoming connections are forwarded on `linux` using `iptables`.. diet does not know that the incoming connection is actually the connection that should work so it returns `404 host not found`

[2017-03-05 17:20] frank-dspeed commented on #20
Related: #43

[2017-03-05 20:23] adamhalasz commented on #73
@luisvinicius167 I have a quick fix that should work with the current version:
[code]

So for example if your hostname is `fathomless-meadow-25269.herokuapp.com` then this should work for you:
[code]

[2017-03-05 22:50] adamhalasz commented on #73
@luisvinicius167 as of `v0.15.0` you will be able to use `app.host(location)` as such:

[code]

This is a demo app that I made on Heroku to test this:
[https://fathomless-meadow-25269.herokuapp.com/](https://fathomless-meadow-25269.herokuapp.com/)

The source code behind it:

[code]

Hope this helps! Let me know if you have any other questions :)

[2017-03-06 23:50] luisvinicius167 commented on #73
@adamhalasz nice! Working now ;)

[2017-03-07 16:04] adamhalasz commented on #73
@luisvinicius167 I'm glad to hear that it works!

[2017-03-07 16:04] #73 closed

[2017-03-23 06:46] Nosthertus commented on #68
is there any progress for this bug fix?

[2017-03-25 01:42] Nosthertus commented on #68
Turns out the happens because on footer middleware the response is already being sent, and therefore the headers are baked, so `setHeaders` function is disabled in host API.. maybe find a workaround on this issue or disable headers functions for footer middleware

[2017-04-08 06:48] Nosthertus opened #74 "request $.body is not parsed on content-type: application/json"
The body is not parsed when `content-type` has more than `application/json` value.

doing some test i found that browser sometimes automatically modifies the `content-type` as follows:

[code]

[2017-06-18 21:08] Nosthertus commented on #32
should i send a pull request of this in diet docs? or are you planning to add this in the docs at some time?

[2017-06-19 07:44] frank-dspeed commented on #32
@Noshertus you can open a issue to add that to the docs but i think it has no core priority

[2017-09-13 17:32] jaygoodfellow opened #75 "diet static using wrong version of mime"
Diet-static is loading the most recent version of [Mime](https://www.npmjs.com/package/mime) which has breaking changes in version 2. Specifically

[2018-01-11 17:27] xeno opened #77 "Abandonware?"
Really would like to use Diet, but I'm worried the project has been abandoned. With 4 PRs open since October and no new issues in months -- is anyone still here?

[2018-01-11 20:48] oscarr-reyes commented on #77
sadly this might be abandoned, owner is the only one to accept PR for the repository

[2018-01-12 02:03] grantcarthew commented on #77
@adamhalasz is still active on github. Adam, add some maintainers!

[2018-03-03 02:52] andreaslacza opened #78 "Mustache + diet.js"
Hey,
is it possible to use my **own** or the **mustachejs** template engine

with diet like in express:
http://expressjs.com/en/advanced/developing-template-engines.html

[2018-10-15 07:34] frank-dspeed commented on #78
@andreaslacza https://github.com/adamhalasz/diet/issues/37 look into this

[2019-01-10 15:37] josephtveter commented on #77
@adamhalasz add some maintainers. I like the idea of this but I would like it slightly more robust. I am willing to do the footwork and submit some PRs. If you are not going to maintain it please add some maintainers.

[2019-03-19 08:51] cutejs commented on #78
You can do it, but the only example is Adam's own diet-ect module, so you'll have to base yours on that.

[2019-06-17 15:02] #78 closed

[2019-12-02 01:46] tablecell opened #79 "post upload get multipart true"
[code]
output multipart: true
how get uploaded file  ?
like in exprees

[2019-12-02 01:49] adamhalasz commented on #79
Take a look at diet-static:

https://www.npmjs.com/package/diet-static

[2019-12-02 01:50] adamhalasz commented on #77
If anyone is still interesting in maintenance please let me know!

[2019-12-02 02:35] tablecell commented on #79
use formidable
[code]
console output  is TypeError: req.on  is not function
that means  $ is not same as req/res

[2019-12-03 03:06] tablecell opened #80 "TypeError: req.pipe is not a function when multer upload"
app.js
[code]
node app.js

 curl -F "upfile=@xxx.jpg"  http://localhost:3000/upload

[2019-12-03 11:45] adamhalasz commented on #80
Thanks for the report. Will look into this soon. Probably just have to add request.pipe to $.req

[2019-12-03 11:46] #77 closed

[2020-07-29 18:54] MrBigDog2U commented on #80
I am seeing this exact same behavior. Has any resolution been communicated? I looked at trying to copy request.pipe but, from what I can tell, request.pipe is also undefined.

[2020-08-27 23:43] tablecell commented on #80
formidable works ok
[code]
use formidable  upload works ok but  console.log( fields) is empty    $.body) ,$.params  is also empty

form page  is
[code]

[2020-09-25 03:28] tablecell opened #81 "TypeError mime.lookup is not a function when use 'diet-static' as a footer middleware"
[code]
neither   http://localhost:3000/jquery.js    or   http://localhost:3000/static/jquery.js
echo msg   TypeError  mime.lookup is not a function

[2020-10-31 13:01] oshinowo-stephen opened #82 "Typings?"
Any plans for typings implementation in the near future?..

[2020-11-08 03:05] #82 closed, assigned to nobody